﻿
@{
    ViewBag.Title = "Yeni Ürün Ekle";
}

<h2>Ürün Ekleme</h2>

<form action="/Product/AddProduct" method="post">
    <div class="form-group">
        <label>Kategori Adı:</label>
        <input type="text" name="ProductCategory" class="form-control">
    </div>
    <div class="form-group">
        <label>Ürün Adı:</label>
        <input type="text" name="ProductName" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label>Miktarı:</label>
        <textarea type="text" name="ProductAmount" class="form-control" id="email"></textarea>
    </div>
    
    <button type="submit" class="btn btn-success">Submit</button>
</form>
