﻿@using StockTracking.ViewModels.Home
@model HomePageViewModels

@{
    ViewBag.Title = "NetAx Stock Tracker";
}



<div class="container-fluid">

    <div class="row">
        <div>

            <h2>NetAx Stok Bilgileri</h2>
        </div>

        <div class="row">
            <div class="col-md-6">



                <table class="table">
                    <thead>
                        <tr>
                            <th>Kategori Adı</th>
                            <th>Ürün Adı</th>
                            <th>Stok Miktarı</th>
                            <th>Ürün Ekle</th>
                            <th>Ürün Düzenle</th>
                            <th>Ürün Sil</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in Model.Product)
                        {
                            <tr>
                                <td>@t.ProductCategory.CategoryName</td>
                                <td>@t.ProductName</td>
                                <td>@t.ProductAmount</td>
                                <td>@Html.ActionLink("Ürün Ekle","AddProduct","Product",null,new { @class = "btn btn-success"})</td>
                                <td>@Html.ActionLink("Ürün Düzenle", "EditProduct", null, new { @class = "btn btn- warning" })</td>
                                <td>@Html.ActionLink("Ürün Sil", "DeleteProduct",null,new { @class = "btn btn- danger"})</td>
                            
                               
                            </tr>
                        }
                    </tbody>
                </table>






            </div>


        </div>

</div>
    </div>
